@import "mixin";
@import "variables";
/* Estilos contacto.html */

.contacto{
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
       ),  url(../../images/hero-contacto.jpg);
    @include hero;
}
.contactanos{
    background-color: $color-secundario;
    color: $color-principal;
    padding: 150px 50px;
    .mapa{
        margin-left: auto;
        margin-right: auto;
        iframe{
            width: 100%;
            @include desktop{
                height: 500px;
            }
        }
    }
}
    .contenedor-info-y-form{
        margin-top: 5rem;
        @include desktop{
            display: flex;
            justify-content: space-around;
        }
        .info-contacto{
            text-align: center;
            margin: 5rem 0;
            display: flex;
            flex-direction: column;
        }
        form{
        background-color: #E0C80C;
        padding: 20px;
        border: #333 solid 1px;
        border-radius: 5px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        label{
                font-family: $font-principal;
                color: $color-secundario;
            }
            button{
                background-color: $color-secundario;
                border: #333 1px solid;
            }             
            button:hover{
                background-color: #D9E4E6;
                color: $color-secundario;
                transition: 1s;
            }                     
        }
    }


/* Estilos contacto.html */
