@import "mixin";
@import "variables";

footer{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    background: rgb(95,94,94);
    background: linear-gradient(180deg, rgba(95,94,94,1) 0%, rgba(54,54,54,1) 94%);
    @include desktop {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .logo_footer{
        text-align: center;
        img{
            cursor: pointer;
        }
    }
    .links_footer{
        display: none;
        @include desktop{
            display: block;
        }
        ul{
            display: flex;
            text-align: center;
            li{
                list-style: none;
                margin:0 15px;
                a{
                    color: $color-principal;
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .redes_footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            font-size: 2.5rem;
            color: $color-secundario;
            @include desktop{
                font-size: 1.5rem;
                margin: 0 20px;
            }
        }
         a:hover{
            color: #E0C80C;
            transition-duration: 1s;
        }
    }
}

