@import "mixin";
@import "variables";
/* Estilos nosotros.html */

.sobre_nosotros{
    background-image: url(../../images/hero-sobre-nosotros.jpg);
    @include hero;
}

.texto{
    padding: 50px;
    text-align: justify;
    font-weight: bold;
    @include desktop{
        padding: 100px;
    }
}

.nuestra_mision{
    text-align: center;
    background-color: #080808;
    color: $color-secundario;
    padding: 50px;
    padding-top: 150px;
    .nuestra_container{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10rem;
        padding: 1.5rem;
        width: 400px;
        height: 450px;
        border-radius: 30px;
        background: #D9E4E6;
        box-shadow: 0px 0px 20px 19px rgba(194,205,207,0.2);    
    }
    @include desktop{
        display: flex;
        justify-content: space-around;
    }
    h3{
        padding: 1.5rem 0;
        font-size: xx-large;
        font-family: "DM Sans", sans-serif;
        text-align: center;
    }
    p{
        text-align: justify;
        padding: 0 30px;
        padding-bottom: 100px;
    }
}

/* Estilos nosotros.html */