@import "mixin";
@import "variables";
/* Estilos nosotros.html */

.sobre_nosotros{
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
       ),  url(../../images/21.jpg);
    @include hero;
}

.texto{
    padding: 50px;
    text-align: justify;
    font-weight: bold;
    @include desktop{
        padding: 100px;
    }
}

.nuestra_mision{
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
       ), url(../../images/20.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    padding-top: 150px;
    .nuestra_container{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10rem;
        padding: 1.5rem;
        max-width:400px;
        height: 450px;
        color: $color-principal;
        border-radius: 30px;
    }
    @include desktop{
        display: flex;
        justify-content: space-around;
    }
    h3{
        padding: 1.5rem 0;
        text-shadow: 1px 1px 1px #634820;
        font-size: xx-large;
        text-align: center;
    }
    p{
        width: 350px;
        text-align: justify;
        font-weight: 600;
    }
}

/* Estilos nosotros.html */