@import "mixin";
@import "variables";
/* Estilos proyectos.html */

.hero-proyectos{
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
       ),  url(../../images/hero-proyectos.jpg);
    @include hero;
    h1{
        color: rgb(255, 255, 255);
        text-shadow: 5px 2px 2px rgba(8, 8, 8, 1),
             7px 2px 2px rgba(8, 8, 8, 1);
    }
}

.proyecto{
    margin: 5rem 0;
    width: 100%;
    padding: 5%;
    img{
        width: 100%;
        height: 80vh;
    }
}

.imagenes_proyecto{
    @include desktop{
        display: flex;
    }
    .img-num{
        display: none;
        @include tablet{
            display: block;
        }
        img{
            @include tablet{
                width: 100%;
            }
        }
    }
    .img-letra{
        @include tablet{
            display: none;    
        }
        @include desktop{
            padding-right: 1rem;
            display: block;
        }
    }
}
.texto_proyecto{
    margin-bottom: 5rem;
    @include desktop{
        width: 100%;
        display: flex;
    }
    p{
        font-family: $font-textos;
        font-weight: bolder;
        display: none;
        @include desktop{
            margin: 0;
            margin-top: 2.5rem;
            padding-left: 5rem;
            padding-right: 5rem;
            display: block;
        }
    }
    h2{
        font-family: $font-secundaria;
        @include desktop{
            font-weight: 900;
            text-shadow: none;
            font-size: 1.5em;
            padding-left: 10%;
            text-align: start;
            padding-right: 5rem;
        }
    }
}
/* Estilos proyectos.html */